body 
{
	background-color: black;
}
html, body {
  width:1200px;
  overflow-x:hidden;
}

h1
{
	color:#b0271d;
}

div.nav_bar
{
	display:inline-block;
	float: left;
	margin-left: 200px;
	height:100vh;
	width:170px;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: white;
    display: inline-block;
    float: left;
}

button.tab
{
	display:inline-block;
	text-align: left;
	color:white;
	font-size: 18px;
	border:none;
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 20px;
   	outline:none;
}
.tab:hover
{
	color:#b0271d;
    cursor: pointer;
}
.tab.active /*.class1 .class2 class1->class2   .class1.class2 class1 and class2*/
{
	color:#b0271d;
}

.arrow
{
	text-align: right;
	display:inline-block;
	float:right;
	transform:scale(2,1);
	margin-top:3px;
	margin-right: 28px;
	margin-left: 40px;
	padding-right: 0px;
}

div.line
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
	margin-right: -1px
}

div.content{
	border:solid white;
	margin-left: 200px;
	width:700px;
    display: inline-block;
    float: left;
}

div p
{
	color:white;
}
