body 
{
	background-color: black;
}
html, body {
  /*width:1500px*/
  min-height:100vh; /*setting overflow-x:hidden will cause 2 vertical sliders*/
  min-width: 100vh;
  position:relative; /*important for footer absolute to work!!*/
  height:auto;
}

h1
{
	margin:0;
	padding:0;
	color:#b0271d;
    background: linear-gradient(to right, black 70%, #b0271d 100%)
}

/*The floated elements do not add to the height of the container element, and hence if you don't clear them, container height won't increase*/
div.nav_bar
{
	/*setting height to percentage need parent height defined*/
	position:absolute;
	display:inline-block;
	margin-left: 200px;
	top:46px;
	height:calc( 100% - 46px ); /*46 calculated by trying*/
	width:170px;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: white;
    display: inline-block;
}

button.tab
{
	display:inline-block;
	text-align: left;
	color:white;
	font-size: 18px;
	border:none;
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 20px;
   	outline:none;
}
.tab:hover
{
	color:#b0271d;
    cursor: pointer;
}
.tab.active /*.class1 .class2 class1->class2   .class1.class2 and    .class1, .class2 or*/
{
	color:#b0271d;
}

.arrow
{
	text-align: right;
	display:inline-block;
	transform:scale(2,1);
	margin-top:3px;
	margin-right: 28px;
	margin-left: 40px;
	padding-right: 0px;
}

div.line
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
	margin-right: -1px
}

div.content
{	/*Absolutely positioned elements are completely removed from the document flow, and thus their dimensions cannot alter the dimensions of their parents*/
	position:relative; /*important!! solved content height exceeding body height problem*/
	margin-left: 550px;
    display: block;
	width:780px;
}

p.heading
{
	text-align: center;
	color:white;
	font-size: 25px;
	width:780px;
}


.Home_slide1, .Home_slide2
{
	display:block;
	margin-bottom: 100px;
}

.Home_figure1, .Home_figure2
{
	position:relative; /*parent div need to set this to eable relative absolute in lower level*/
}

.Home_img1, .Home_img2
{
	margin-bottom: 0px;
}

.Home_des1, .Home_des2
{
	text-align: center;
	color:white;
	position: absolute; /*relative to closest ancestor*/
	width:780px;
	left:0px;
	bottom:0px; /*made a mistake: Home_des2 was in <p> while Home_des1 was in <div>, so had to assign different bottom*/
	background-color: rgba(0,0,0,0.8);
	height:100px; /*vertical align*/
	line-height: 100px;
	font-size: 20px;
}

div.footer
{
	display:block;
	position:absolute; /*fixed relative to initial containing block always viewable*/
	margin:1px;
	height:50px;
	bottom:0px;
	right:0px;
	background-color: #611610;
	width:1120px;
	text-align: right; /*The text-align property specifies the horizontal alignment of text in an element*/
}

p.footer
{
	color:white;
	font-size:10px;
}