h1 {
  color: #00008B;
  font-family: 'Lora', serif;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: -8px;
  padding: 0 0 0 60px;
  overflow: hidden;
  background-color:#F8ECD4;
}

li {
  float:left;
}

li a{
  display: block;
  padding: 7px 7px 9px 6px; /*top right bottom left*/
  color:#0000e6;
  text-decoration: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size:17px
}