html, body {
  width:1000px;
  overflow-x:hidden;
}
h1.head {
  display:inline;
  color: #00008B;
  font-family: 'Lora', serif;
  font-size:36px;
  padding-left:360px;
}

ul {
  list-style-type: none;
  margin-left: -8px;
  margin-right: -200px;
  padding: 0 0 0 65px;
  overflow: hidden;
  background-color:#F8ECD4;
}

li {
  float:left;
}

li a{
  display: block;
  padding: 5px 7px 11px 7px; /*top right bottom left*/
  color:#0000e6;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:17px;
}

li a:visited{
  color:#551a8b;
}
          
div.image{
  margin: 30px 0 0 70px;
  height:475px;
  width:810px;
  background-image: url("https://tianyia.github.io/website_mimic_3968/restaurant.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:920px 670px; /*width height*/
}

h1.greeting{
  color:#fafad4;
  font-family: 'Old Standard TT', serif;
  font-size: 49.5px;
  padding-top:154px;
  padding-left:160px;
}

a.reservation{
  display: inline-block;
  padding: 5px 14px 8px 14px; /*top right bottom left*/
  margin-top: -7px;
  margin-left: 500px;
  border: 4px double black;
  background-color: white;
  font-size: 15px;
  color:black;
  text-decoration: none;
}

p.explore_cuisine{
  display: inline-block;
  margin-top:30px;
  margin-left: 300px;
  color:#7c077d;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 26px;
  font-weight:900;
  text-decoration-line:underline;
  text-decoration-style: double;
}

div.dish_section{
  margin-left: 70px;
  overflow: hidden;
}

div.dish_section.interval{
  margin-top: 55px;
}

div.pinkbg{
  background-color: #ffe4e0;
  height:270px;
  width:360px;
  padding:12px;
  float:left;
}

div.bluebg{
  background-color: #afd9e4;
  height:270px;
  width:360px;
  padding:12px;
  float:left;
}

img.cuisines{
  display:block;
  height:100%;
  width:100%;
}
div.description{
  height:270px;
  width:360px;
  padding:12px;
  float:left;
  display:flex;
  align-items: center;/*vertical center stretch center start end*/
  justify-content: center;/*horizontal center  flex-start flex-end center space-between space-around space-evenly*/
  /*flex-direction: column will swap the function of align-itens and justify-content*/;
}
div.description.blue{ /*no space*/
  justify-content:flex-start;
}
p.description{
  display:inline-block;
  font-family: 'Times New Roman';
  font-weight:500; /*100-900*/
}
span{
  font-weight:900;
  color:#2045b4;
}