<app-top-carousel [cur_movie_data] = "cur_movie"></app-top-carousel>

<div  style="margin-top:5%;"></div>

<div *ngIf="continue_watching.length>0">
  <p class="description" *ngIf="!mobile_version">Continue Watching</p>
  <p class="description" *ngIf="mobile_version" style="margin-left:25%;">Continue Watching</p>
  <app-carousel [selected_data] = "continue_watching"></app-carousel>
</div>

<p class="description" *ngIf="!mobile_version">Popular movies</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Popular movies</p>
<app-carousel [selected_data] = "pop_movie"></app-carousel>
<p class="description" *ngIf="!mobile_version">Top rated movies</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Top rated movies</p>
<app-carousel [selected_data] = "top_movie"></app-carousel>
<p class="description" *ngIf="!mobile_version">Trending movies</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Trending movies</p>
<app-carousel [selected_data] = "trend_movie"></app-carousel>
<p class="description" *ngIf="!mobile_version">Popular TV shows</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Popular TV shows</p>
<app-carousel [selected_data] = "pop_tv"></app-carousel>
<p class="description" *ngIf="!mobile_version">Top rated TV shows</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Top rated TV shows</p>
<app-carousel [selected_data] = "top_tv"></app-carousel>
<p class="description" *ngIf="!mobile_version">Trending TV shows</p>
<p class="description" *ngIf="mobile_version" style="margin-left:25%;">Trending TV shows</p>
<app-carousel [selected_data] = "trend_tv"></app-carousel>

<!-- <app-carousel [selected_data] = "'unassigned'"></app-carousel> -->
