.detail_container
{
  position:relative;
  margin-left:10vw;
  width:80vw;
}
.text1
{
  float:left;
  color:white;
  width:32%;
  min-width:250px;
  font-size:1.2vw;
}
.text2
{
  color:white;
  width: 80vw;
  font-size:1.2vw;
  margin-bottom:5vh;
}
.cast
{
  color:white;
}
.scroll
{
  overflow: auto;
  white-space: nowrap;
  width:80vw;
}
::-webkit-scrollbar
{
  height:1vh;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5vh;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:host ::ng-deep .col-sm-2
{
  display: inline-block;
}
:host ::ng-deep .card
{
  max-width: 100%;
}
:host ::ng-deep .card-text
{
  display:block;
  color:black;
  text-align: center;
  font-size: 0.5vw;
  white-space: normal;
  overflow-wrap: break-word;
  /* -webkit-box-sizing: border-box; Safari/Chrome, other WebKit
  -moz-box-sizing: border-box;    Firefox, other Gecko
  box-sizing: border-box;         Opera/IE 8+ */
}
.review_box
{
  position:relative;
  width:80vw;
  background-color: white;
  margin-bottom:2vh;
  border-radius: 2vw;
}
.review_image
{
  width:5vw;
  margin-left:2vw;
  padding-top:2vh;
}
.review_text
{
  margin-top:-6%;
  margin-left:15%;
  width:64vw;
}
.star
{
  display:inline;
  background-color: black;
  color:white;
  border-radius: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left:1vw;
}
.review_content
{
  top:40%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.review_link:visited
{
  color:#744799;
  text-decoration: underline;
}
.description
{
  color:white;
  font-size: 4vh;
  margin-left:10%;
}
app-carousel
{
  margin-left:-50%;
}
:host ::ng-deep .carousel-indicators
{
  margin-bottom:-3%
}
:host ::ng-deep .carousel-control-prev
{
  margin-left:-7%;
  width:3vh;
}
:host ::ng-deep .carousel-control-next
{
  margin-right:-7%;
  width:3vh;
}
