<!-- {{selected_data}} -->
<div class="resize" *ngIf="!mobile_version">
  <ngb-carousel *ngIf="selected_data" style="outline:none;">
    <ng-template ngbSlide *ngIf="selected_data.length>0">
      <div class="row">
        <div *ngFor = "let item of selected_data.slice(0,6)" class="col-sm-2">
          <div class="card text-white" style="border: none;">
            <a  [routerLink] = "['/watch', item['type'], item['id']]">
              <img *ngIf="item['poster_path']" [src]="'https://image.tmdb.org/t/p/w500/' + item['poster_path']" class="card-img" alt="Card image">
              <img *ngIf="!item['poster_path']" [src]="'assets/movie_placeholder.png'" class="card-img" alt="Card image">
              <div class="text_container">
                <p class="text">{{item['title']}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="selected_data.length>6">
      <div class="row">
        <div *ngFor = "let item of selected_data.slice(6,12)" class="col-sm-2">
          <div class="card text-white" style="border: none;">
            <a  [routerLink] = "['/watch', item['type'], item['id']]">
              <img *ngIf="item['poster_path']" [src]="'https://image.tmdb.org/t/p/w500/' + item['poster_path']" class="card-img" alt="Card image">
              <img *ngIf="!item['poster_path']" [src]="'assets/movie_placeholder.png'" class="card-img" alt="Card image">
            <div class="text_container">
              <p class="text">{{item['title']}}</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="selected_data.length>12">
      <div class="row">
        <div *ngFor = "let item of selected_data.slice(12,18)" class="col-sm-2">
          <div class="card text-white" style="border: none;">
            <a  [routerLink] = "['/watch', item['type'], item['id']]">
              <img *ngIf="item['poster_path']" [src]="'https://image.tmdb.org/t/p/w500/' + item['poster_path']" class="card-img" alt="Card image">
              <img *ngIf="!item['poster_path']" [src]="'assets/movie_placeholder.png'" class="card-img" alt="Card image">
            <div class="text_container">
              <p class="text">{{item['title']}}</p>
            </div>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="selected_data.length>18">
      <div class="row">
        <div *ngFor = "let item of selected_data.slice(18,selected_data.length>24? 24:selected_data.length)" class="col-sm-2">
          <div class="card text-white" style="border: none;">
            <a  [routerLink] = "['/watch', item['type'], item['id']]">
              <img *ngIf="item['poster_path']" [src]="'https://image.tmdb.org/t/p/w500/' + item['poster_path']" class="card-img" alt="Card image">
              <img *ngIf="!item['poster_path']" [src]="'assets/movie_placeholder.png'" class="card-img" alt="Card image">
            <div class="text_container">
              <p class="text">{{item['title']}}</p>
            </div>
            </a>
         </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="resize remove_indicators" *ngIf="mobile_version">
  <ngb-carousel *ngIf="selected_data" style="outline:none;">
    <ng-template ngbSlide *ngFor = "let item of selected_data">
          <div class="card text-white" style="border: none;">
            <a  [routerLink] = "['/watch', item['type'], item['id']]">
              <img *ngIf="item['poster_path']" [src]="'https://image.tmdb.org/t/p/w500/' + item['poster_path']" class="card-img" alt="Card image">
              <img *ngIf="!item['poster_path']" [src]="'assets/movie_placeholder.png'" class="card-img" alt="Card image">
              <div class="text_container" style="display:block;">
                <p class="text">{{item['title']}}</p>
              </div>
            </a>
          </div>
    </ng-template>
  </ngb-carousel>
</div>
